<header>
<nav>

<a href="{{ root }}/index.md" class="site-title">Noah's Dotfile Manager</a>

<menu type="toolbar" class="navbar">
  <li><a href="https://github.com/Mase3206/dotfiles" target="_blank">GitHub</a></li>
  <li><a href="{{ root }}/man/dot.1.html">dot(1)</a></li>
  <li>
    <a href="mods.md">Mods</a>
  </li>
</menu>

</nav>
</header>



<h1>{{ page_title }}</h1>