[user]
	name = Mase3206
	email = 35052448+Mase3206@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	postBuffer = 157286400