---
page_title: Home
---

{% extends "components/base.html.jinja" %}


{% block body %}
You seem to have found my super secret dotfile manager for my super secret dotfiles. Go you! While you're here, I might as well fill you in.

<hr style="margin-top:1.5em !important" />

{{ readme }}

{% endblock %}