---
page_title: Home
---

{% include "components/base.html.jinja" %}

You seem to have found my super secret dotfile manager for my super secret dotfiles. Go you! While you're here, I might as well fill you in.

## Links

<a href="https://github.com/Mase3206/dotfiles" target="_blank">Github repo</a>

{# Manpage for [dot(1)](dot.1.html) #}

{# **Manpages:**

{{ manpages }}

## What is *dot*? #}

---

{{ readme }}